<ion-header>
  <ion-navbar>
    <ion-title>
      Loin Access
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <img src="assets/images/login2.png" alt="IMG LOGIN" class="img-center">
  <ion-item class="bg">
    <ion-label floating class="text-white">Email</ion-label>
    <ion-input type="email" class="text-white" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item class="bg">
    <ion-label floating class="text-white">Password</ion-label>
    <ion-input type="password" required class="text-white" (keydown)="getAccessKey($event)" [(ngModel)]="user.pass"></ion-input>
  </ion-item>
  <br>
  <button ion-button block color="primary" (click)="getAccess()"><ion-icon name="contact"> Login</ion-icon></button>
  <br>
  <div class="bg-err" *ngIf="errMessage">
      <ion-icon name="alert" color="danger" *ngIf="errMessage"></ion-icon> {{errMessage}}
    </div>
  <br>
  <div class="bg-social">
    <button ion-button round color="primary"><ion-icon name="logo-facebook"></ion-icon></button>
    <button ion-button round color="danger"><ion-icon name="logo-googleplus"></ion-icon></button>
    <button ion-button round color="primary"><ion-icon name="logo-twitter"></ion-icon></button>
    
  </div>

</ion-content>
