page-home {
    .img-center{
        height: 18vh;
        width: auto;
        margin: auto;
        display: block;
      }
    .bg{
        background-color: #353639;
    }
    .text-white{
        color:white;
        font-weight: bold;
    }
    .bg-social{
        background-color: #555;
        border-radius: 7px;
        padding: 10px;
        text-align: center;
        // margin: auto;
    }
    .bg-err{
        background-color: #555;
        border-radius: 7px;
        padding: 10px;
        text-align: justify;
        font-weight: bold;
        color:white;
    }
}

